<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8643eda158.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
    
    <title>José Arechabala S.A.</title>
</head>
<body>
    <header class="header_dashboard">
        <div class="header-nav">
            <div class="container-nav" id="button_nav">
                <nav>
                    <div class="icon-nav">
                        <i class="fas fa-align-justify"></i>
                    </div>
                    <ul class="nav-list" id='nav_list'>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Nosotros</a>
                        </li>
                        <li>
                            <a href="#">Ingreso</a>
                        </li>
                        <li>
                            <a href="#">Ingreso</a>
                        </li>
                        <li>
                            <a href="#">Ingreso</a>
                        </li>
                        <li>
                            <a href="#">Ingreso</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="container-options">
                 <span>
                    <i class="fa fa-home" aria-hidden="true"><span class="i-span">Welcome, Super administrator</span></i>
                 </span>
                 <span>
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                 </span>
            </div>
        </div>
        <div class="logo">
            <img src="{{url_for('static', filename='media/logo.JPG')}}" alt="Logo">
        </div>
    </header>
    <main>
            <section>
                <div class="section-div">
                    <figure>
                        <img src="{{url_for('static', filename='media/user.png')}}" alt="">
                    </figure>
                    <div class="content-fields">
                        <div class="main_container">
                            <div id="input-field">
                                <textarea name="user" class="txt-search"  id="ID" autocomplete="off" placeholder="ID del usuario"></textarea>
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div><br>
                            <div class="content-data">
                                <div class="div-data">
                                    <b>Name: </b><span class="div-data_name"></span>
                                </div>
                                <div class="div-data">
                                    <b>Address: </b><span class="div-data_name"></span>
                                </div>
                                <div class="div-data">
                                    <b>Phone: </b><span class="div-data_name"></span>
                                </div>
                                <div class="div-data">
                                    <b>Data of admission: </b><span class="div-data_name"></span>
                                </div>
                                <div class="div-data">
                                    <b>Type of contract: </b><span class="div-data_name"></span>
                                </div>
                                <div class="div-data">
                                    <b>Contract end date: </b><span class="div-data_name"></span>
                                </div>
                                <div class="div-data">
                                    <b>Dependence: </b><span class="div-data_name"></span>
                                </div>
                                <div class="div-data">
                                    <b>Salary: </b><span class="div-data_name"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </main>
    <div class="container-buttons">
        <button>Delete</button>
        <button>Go Back</button>
    </div>
    <hr>
    <footer style="border: 2px solid black;">
        <h5>FOOTER</h5>
        <h5>Pie de pagina</h5>
        <p>logo</p>
        <p> &nbsp;&nbsp; &nbsp; Copyright © 2021 grupo #9</p>
    </footer>
    <script src="{{url_for('static', filename='js/del_employee.js')}}"></script>
</body>
</html>